* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

input {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    border: 1px black solid;   
}

input:focus {
    outline: none;
}

input[type="button"]:active {
    transform: scale(0.95);
}

input[type="text"] {
    width: 50%;
}

.flex-container {
    display: flex;
    width: 100%;

    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

main.flex-container {
    justify-content: baseline;
}

.flex-container > * {
    margin: 8px;
}

.title {
    padding: 8px;
    width: 100%;
    font-weight: bold;
    background-color: #ddd;
}

#csma {
    border-collapse: collapse;
    width: 80%;
    height: 100px;
    text-align: center;
}

#csma > tr, #csma > tr > td {
    border: 1px solid black;
}

#csma > tr > td > input, #csma > tr > td > button {
    border: 0;
    width: 100%;
    height: 50%;
    text-align: center;
}